.exp1{
   text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border: 10px solid rgb(120, 228, 32);
    background-color: aqua;
    

}
p{ 
    text-align: center;
    color: darkblue;
    font-size: 20px;

}
.exp2{
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
    border: 2px solid red;

}
body{
    background-color: bisque;
}
